<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How to Create responsive Homepage</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
 
    <style type="text/css">
    .body{
        margin: 0 0 10px;
        padding: 5%;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    p {
    margin: 55px 75px 50px 75px;
    }
    </style> 
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="../static/logo.PNG" width=80
           alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/overview_home">Home</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>         
                </ul>
            </ul>
            </li>
          </div>
        </div>
      </nav>
    <br>
    <br>
    <div class="rows">
        <div class="column">
            <img src="https://i.postimg.cc/GpZ6gYzm/profile.png" class="center" width="10" >
        </div>
        <p>My name is Tanishq Malhotra. I am 13 years old and 
        am very passionate about coding. I have about 3 years of 
        coding experience and am well-versed with sqlite3 for 
        databases. I have also gained a bit of experience in 
        Beautiful Soup, Flask, Datetime modules etc. I had also
        experimented a bit with pygame and had mad a few games, 
        both multiplayer and One player.
        </p>
        <p>
            This project has been built with python, html and css and
            sqlite3. I had used a module to connect the backend to 
            the front end. This Project is a Library Management System.
            It is a system which is made to make the librarian's job easier.
            This project has a few features like- You can borrow a 
            book if it is available, you can see all the books there are
            in the library before entering. More features will be coming soon
        </p>
    </div>
    </body>
</html>
