<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register and Login</title>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
        body{
            text-align:center;
            }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="../static/logo.PNG" width=80
           alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/overview_home">Home</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/all_the_books">All the books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin_records">Borrowing Records</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/add_book">Add book</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
              </li>
                </ul>
            </ul>
            </li>
          </div>
        </div>
      </nav>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <form action="/add_book" method="POST">
        <h1>Add a book</h1>
        <input type="text" class='input-field' name='book' placeholder="Harry Potter" required>
        <h1>Author of the book</h1>
        <input type="text" class='input-field' name='author' placeholder="J.K Rowling" required>
        <br>
        <h1>Image of the book</h1>
        <input type="text" class='input-field' name='image' placeholder="post images only" required>
        <br>
        <h1>Number of books you want to add to the library</h1>
        <input type="text" class='input-field' name='quantity' placeholder="number of copies" required>
        <br>
        <button type="submit" class="submit-btn">Add Book</button>
    </form>
</body>
</html>